@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* 3. Map variables using @theme inline */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-gruvbox-bg: #1d2021;
  --color-gruvbox-fg: #ebdbb2;
  --color-gruvbox-red: #fb4934;
  --color-gruvbox-green: #b8bb26;
  --color-gruvbox-yellow: #d79921;
  --color-gruvbox-blue: #83a598;
  --color-gruvbox-gray: #928374;

  @keyframes cursor {
    0%,
    100% {
      background-color: inherit;
      color: var(--color-gruvbox-fg);
    }
    50% {
      background-color: var(--color-gruvbox-fg);
      color: #000;
    }
  }

  --animate-cursor: cursor 1s step-start infinite;
}

@layer base {
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
}

a:focus {
  outline: none;
}
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
